th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.invisible {
  visibility: hidden;
}

.target-table {
  overflow: hidden;
}

.target-table td {
  text-align: center;
  vertical-align: middle;
}

/* ie filters */
.lt-ie9 .target-table .vertical-header .text-container {
  display: inline;
  padding: 20px 0;
  writing-mode: tb-rl;
  filter: flipH flipV;
  white-space: nowrap;
}

.table-with-vertical-headers .vertical-header .text-container {
  display: inline-block;
  width: 1em;
  font-family: monospace;
  word-wrap: break-word;
  white-space: pre;
}

.no-csstransforms3d.svg .vertical-header .text-container {
  white-space: nowrap;
}

/* hidden on svg rotation process */
.no-csstransforms3d.svg .target-table {
  visibility: hidden;
}

.vertical-header .text-container {
  white-space: nowrap;
}

.csstransitions .target-table .vertical-header .text-container {
  display: table-cell; /* alignment on the bottom */
  padding: 10px 0;
  line-height: 1.5;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  white-space: nowrap;
  overflow: visible;
  font-size: 16px;
}

.csstransitions .target-table .vertical-header .width-corrector {
  display: inline-block;
  width: 1.5em;
}

.csstransitions .target-table .vertical-header .text-container:after {
  display: block;
  content: "";
  margin: -1.5em 0 100%;
}

.header-row th{
  padding: 20px 0;
}
